.btn-w{
	background: white;
	border-radius: 40px;
	width: 100px;
	height: 50px;
	color: rgb(253, 80, 104);
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 25px;
	line-height: 2;
	text-align: center;
}

.btn-w:hover{
	color: white;
	background: rgb(240,4,117);
	background: linear-gradient(90deg, rgba(240,4,117,1) 0%, rgba(221,11,122,1) 54%, rgba(147,39,143,1) 100%);
}
