.btn-p{
height: 70px;
width: 400px;	
border-radius: 40px;
font-family: Source Sans Pro;
color: white;
background: rgb(240,4,117);
background: linear-gradient(90deg, rgba(240,4,117,1) 0%, rgba(221,11,122,1) 54%, rgba(147,39,143,1) 100%);
font-weight: bold;
font-size: 30px;
padding: 15px 20px;

}